Repository remarkablemark/jira-dashboard-gadget: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,mjs,mts,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

build(frontend): upgrade react-dom from 17 to 18
  package-lock.json
  src/frontend/package.json
Due: prettier --write

chore(frontend): remove version from package.json
  package-lock.json
  src/frontend/package.json
Due: prettier --write

build(frontend): upgrade devDependencies
  package-lock.json
  src/frontend/package.json
Due: prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

build(frontend): rename vite.config.mjs to vite.config.mts
  src/frontend/vite.config.mts
Due: eslint --fix

docs(readme): update prerequisites
  README.md
Due: prettier --write

refactor(backend): rename workspace `resolvers` to `backend`
  package-lock.json
  package.json
  src/backend/index.js
  src/backend/package.json
  src/index.js
Due: eslint --fix, prettier --write

ci(github): update workflows
  .commitlintrc.json
  .github/workflows/build.yml
  .github/workflows/release-please.yml
Due: prettier --write

refactor(frontend): remove path alias
  package.json
  src/frontend/src/components/App.tsx
  src/frontend/src/components/Edit.tsx
  src/frontend/src/components/View.tsx
  src/frontend/src/hooks/useForgeContext.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.mts
Due: eslint --fix, prettier --write

refactor(frontend): modularize @forge/bridge from components
  src/frontend/src/app/App.tsx
  src/frontend/src/app/index.ts
  src/frontend/src/components/View.tsx
  src/frontend/src/edit/Edit.tsx
  src/frontend/src/edit/index.tsx
  src/frontend/src/index.tsx
  src/frontend/src/types/forge.ts
  src/frontend/src/types/form.ts
  src/frontend/src/types/index.ts
  src/frontend/src/view/View.tsx
  src/frontend/src/view/index.tsx
Due: eslint --fix

feat(frontend): add loading spinner
  package-lock.json
  src/frontend/package.json
  src/frontend/src/app/App.tsx
  src/frontend/src/edit/index.tsx
  src/frontend/src/view/index.tsx
Due: eslint --fix, prettier --write

docs(readme): update README.md
  README.md
Due: prettier --write

feat(frontend): add scripts, helpers, and hooks
  package-lock.json
  package.json
  src/frontend/package.json
  src/frontend/scripts/generate-env.js
  src/frontend/src/helpers/decode.ts
  src/frontend/src/helpers/index.ts
  src/frontend/src/helpers/log.ts
  src/frontend/src/hooks/useForgeContext.ts
  src/frontend/src/hooks/useForgeInvoke.ts
  src/frontend/src/hooks/useFormValues.ts
  src/frontend/src/types/vite-env.d.ts
Due: eslint --fix, prettier --write

refactor(frontend): optimize log helpers
  src/frontend/src/helpers/log.ts
Due: eslint --fix

chore(package): fix script `lint:fix`
  package.json
Due: prettier --write

chore: fix eslint errors
  eslint.config.js
  src/frontend/scripts/generate-env.js
Due: eslint --fix

ci(github): update action in release-please.yml
  .github/workflows/release-please.yml
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: none

build(package): upgrade atlaskit group dependencies
  package-lock.json
  src/frontend/package.json
Due: prettier --write

build(package): fix 1 security vulnerability
  package-lock.json
Due: prettier --write

chore: fix eslint and forge lint
  eslint.config.js
  eslint.config.mjs
  manifest.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci(github): fix lint in workflow build.yml
  .github/workflows/build.yml
Due: none

docs(readme): add status badge
  README.md
Due: prettier --write

docs(readme): add examples
  README.md
Due: prettier --write

test(frontend): add unit test
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .husky/pre-commit
  package-lock.json
  package.json
  src/frontend/.gitignore
  src/frontend/jest.config.ts
  src/frontend/package.json
  src/frontend/src/env/__mocks__/index.ts
  src/frontend/src/env/index.ts
  src/frontend/src/helpers/log.ts
  src/frontend/src/index.test.tsx
  src/frontend/src/index.tsx
  src/frontend/test/setupTests.ts
Due: eslint --fix, prettier --write

test(frontend): add App.test.tsx and remove identity-obj-proxy
  package-lock.json
  src/frontend/jest.config.ts
  src/frontend/package.json
  src/frontend/src/app/App.test.tsx
  src/frontend/tsconfig.json
Due: eslint --fix, prettier --write

test(frontend): update App.test.tsx
  src/frontend/src/app/App.test.tsx
Due: eslint --fix

test(helpers): add decode and log tests
  src/frontend/src/helpers/decode.test.ts
  src/frontend/src/helpers/decode.ts
  src/frontend/src/helpers/log.test.ts
Due: eslint --fix

test(frontend): add edit tests
  src/frontend/src/edit/Edit.test.tsx
  src/frontend/src/edit/Edit.tsx
  src/frontend/src/edit/index.test.tsx
Due: eslint --fix

test(frontend): add useForgeInvoke.test.ts
  src/frontend/src/hooks/useForgeInvoke.test.ts
  src/frontend/test/setupTests.ts
Due: eslint --fix

test(frontend): add tests for hooks
  src/frontend/src/hooks/useForgeContext.test.ts
  src/frontend/src/hooks/useFormValues.test.ts
  src/frontend/src/hooks/useFormValues.ts
Due: eslint --fix

test(frontend): add view tests
  src/frontend/src/view/View.test.tsx
  src/frontend/src/view/index.test.tsx
Due: eslint --fix

test(frontend): set global coverage threshold to 100
  src/frontend/jest.config.ts
  src/frontend/src/index.tsx
  src/frontend/src/types/index.ts
Due: eslint --fix

build(frontend): use identity-obj-proxy for css files in jest
  package-lock.json
  src/frontend/jest.config.ts
  src/frontend/package.json
Due: eslint --fix, prettier --write

build(frontend): upgrade dependencies
  package-lock.json
  src/frontend/package.json
Due: prettier --write
